<footer id="fin">
    <p class="mb-1">Contactenos</p>
    <ul class="iconos row mb-0">
        <li class="col-3 font-weight-bolder"> <img src="./../../../assets/imagenes/whatsapp.png" > <br> 388470658</li>
        <li class="col-3 font-weight-bolder"><img src="./../../../assets/imagenes/google-plus.png" > <br>apos@gmail.com</li>
        <li class="col-3 font-weight-bolder"><img src="./../../../assets/imagenes/facebook.png" > <br> Apos</li>
        <li class="col-3 font-weight-bolder"><img src="./../../../assets/imagenes/instagram.png" > <br>_Apos</li>
    </ul>
</footer>