footer{
    background: #f6f8f9;
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); 
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); 
    width: 100%;
    border-radius: 8px;
    float: left;
    display:block;
}
footer ul{
    list-style-type: none;
}
footer p{
    font-family: 'Sofia', cursive;
    font-size: 2em;
    margin-left: 20px;
}

.iconos li{
    float: left;
    text-align: center;
    line-height: 30px;
}

footer li{
    float: left;
}
.iconos img{
    width: 2em;
    height: 2em;
}