<div id="fondoReg" class="p-5">


    <div class="container">
        <div class="row justify-content-center">
            <form class="col-12 col-md-7">
                <h1 class="text-center p-3" id="titulo-form">Miembro Registro</h1>
                <div class="form-group row justify-content-center">
                  <label for="user" class="col-sm-3 col-form-label">Id de Ingreso</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="idIngreso">
                  </div>
                </div>
            
                <div class="form-group row justify-content-center">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="idpassword">
                  </div>
                </div>
            
                <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="col-sm-3 col-form-label ">Repita su contraseña:</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="idpassword">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="email" class="col-sm-3 col-form-label">Email </label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="idemail">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="email" class="col-sm-3 col-form-label">Repita su email </label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="idemail">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputname" class="col-sm-3 col-form-label">Lista de email:  </label>
                    <div class="form-check col-sm-8">
                        <input type="radio" name="listaEmail" value="si" />   Si 
                        <input type="radio" name="listaEmail" value="no" />   No
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputname" class="col-sm-3 col-form-label">Nombre </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="idname">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputname" class="col-sm-3 col-form-label">Genero:  </label>
                    <div class="form-check col-sm-8">
                        <input type="radio" name="sex" value="hombre" />   Hombre  
                        <input type="radio" name="sex" value="mujer" />   Mujer
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputFechaNacimiento" class="col-sm-3 col-form-label">Fecha de Nacimiento: </label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="idFechaNacimiento">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputState" class="col-sm-3 ">Elegir opcion</label>
                    <select id="inputState" class="form-control col-8">
                        <option selected>Choose...</option>
                        <option value="Afganistán" id="AF">Afganistán</option>
                        <option value="Albania" id="AL">Albania</option>
                        <option value="Alemania" id="DE">Alemania</option>
                        <option value="Andorra" id="AD">Andorra</option>
                        <option value="Angola" id="AO">Angola</option>
                        <option value="Anguila" id="AI">Anguila</option>
                        <option value="Antártida" id="AQ">Antártida</option>
                        <option value="Antigua y Barbuda" id="AG">Antigua y Barbuda</option>
                        <option value="Antillas holandesas" id="AN">Antillas holandesas</option>
                        <option value="Arabia Saudí" id="SA">Arabia Saudí</option>
                        <option value="Argelia" id="DZ">Argelia</option>
                        <option value="Argentina" id="AR">Argentina</option>
                    </select>
                </div>
                <div class="form-group text-center mt-5">
                    <button type="button" class="btn btn-warning mr-3 col-2" >Enviar</button>
                    <button type="reset" class="btn btn-warning col-2" >Limpiar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>